body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 16px;
}
.msg-grp-container {
  height: 512px;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.message-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.message {
  border: 1px solid gray;
  background-color: lightgray;
  width: 512px;
  padding: 8px;
}
.message-title {
  display: flex;
  justify-content: space-between;
}
.message-content {
  margin-top: 8px;
  overflow-wrap: break-word;
}